.home {
  padding-top: 20px;
  padding-bottom: 20px;

  .home-header {
    background-color: var(--bg-primary);
    padding: 0px 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .home-title {
      span {
        font-weight: 600;
      }
      h1 {
        font-size: 75px;
        font-weight: 700;
        span {
          color: var(--color-primary);
          font-weight: 700;
        }
      }
      p {
        color: var(--text-primary);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    @media (max-width: 768px) {
      background-color: rgb(216, 235, 220);
      border-radius: 10px;
      padding: 0px 20px;
      .home-title {
        span {
          font-size: 8px;
        }

        h1 {
          font-size: 30px;
          span {
            font-size: 30px;
          }
        }
        p {
          font-size: 14px;
          -webkit-line-clamp: 1;
        }
        button {
          display: none;
        }
      }
      .home-img {
        img {
          width: 300px;
          height: 300px;
        }
      }
    }
  }

  .shop-products {
    h1 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    padding-top: 50px;
    .shop-categories {
      display: inline-block;
      background-color: var(--bg-primary);
      padding: 15px 50px;

      .categories {
        display: flex;
        flex-direction: column;
        gap: 15px;

        ul {
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 12px;
          a {
            text-decoration: none;
            color: var(--text-primary);
            font-size: 16px;
            font-weight: 500;

            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
    .products {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    @media (max-width: 768px) {
      padding-top: 30px;
      h1 {
        font-size: 24px;
      }
      .shop-categories {
        padding: 10px 15px;
        .categories {
          ul {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
          }
        }
      }
      .products {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .promo-section {
    margin-top: 90px;
    display: flex;
    gap: 20px;

    .promo-card {
      border: 1px solid var(--border-color);
      padding: 10px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: end;

      .promo-content {
        h5 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      .promo-card {
        .promo-img {
          img {
            width: 150px;
            height: 150px;
          }
        }
        .promo-content {
          h5 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .blog-posts {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    margin-top: 90px;
    margin-bottom: 90px;
    .blogpost-card {
      display: flex;
      flex-direction: column;

      .card-content {
        padding: 15px;
        background-color: var(--bg-primary);
        span {
          font-size: 16px;
          font-weight: 500;
          color: var(--color-primary);
        }
        h4 {
          font-size: 22px;
          font-weight: 700;
          margin-top: 10px;
          width: 80%;
        }
        p {
          color: var(--text-primary);
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
      .blogpost-card {
        img {
          width: 100%;
          height: auto;
        }
        .card-content {
          span{
            font-size: 14px;
          }
          h4 {
            font-size: 18px;
            width: 100%;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
