.home {
  padding-top: 20px;
  padding-bottom: 20px;

 

 
  .promo-section {
    margin-top: 90px;
    display: flex;
    gap: 20px;

    .promo-card {
      border: 1px solid var(--border-color);
      padding: 10px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: end;

      .promo-content {
        h5 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      .promo-card {
        .promo-img {
          img {
            width: 150px;
            height: 150px;
          }
        }
        .promo-content {
          h5 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .blog-posts {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    margin-top: 90px;
    margin-bottom: 90px;
    .blogpost-card {
      display: flex;
      flex-direction: column;

      .card-content {
        padding: 15px;
        background-color: var(--bg-primary);
        span {
          font-size: 16px;
          font-weight: 500;
          color: var(--color-primary);
        }
        h4 {
          font-size: 22px;
          font-weight: 700;
          margin-top: 10px;
          width: 80%;
        }
        p {
          color: var(--text-primary);
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
      .blogpost-card {
        img {
          width: 100%;
          height: auto;
        }
        .card-content {
          span{
            font-size: 14px;
          }
          h4 {
            font-size: 18px;
            width: 100%;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
