.shop-page {
  padding-top: 40px;
  .shop-header {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    .shop-page-img {
      display: flex;
      gap: 10px;
      padding: 10px;
      //   background-color: var(--border-color-secondary);
      .column-images {
        display: flex;
        flex-direction: column;
      }
    }

    .product-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      width: 100%;

      .line {
        border: 1px solid var(--border-color-secondary);
        margin-bottom: 10px;
      }

      h3 {
        margin-bottom: 0;
        font-size: 28px;
      }
      p {
        margin-bottom: 0;
        color: var(--color-primary);
        font-weight: 700;
        font-size: 18px;
      }
      h6 {
        margin-bottom: 0;
        font-size: 16px;
      }
      span {
        color: var(--text-primary);
      }
      .category {
        color: var(--text-primary);
        font-weight: 400;
      }
      .share-product {
        display: flex;
        gap: 15px;
      }
    }
  }
  .shop-tab-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
