:root {
  --color-primary: rgb(70, 163, 88);

  --border-color: rgb(163, 209, 171);
  --border-color-secondary: rgb(215,233,218);

  --bg-primary: rgb(251, 251, 251);
  --bg-footer: rgb(236, 246, 238);
  --text-primary: rgb(114, 114, 114);
}

// [data-theme="dark"] {
//   --bg-sidebar: #0f172a;
//   --bg-header: #1e293b;
//   --bg-content: #1e293b;
//   --hover-bg: #334155;
//   --login-bg: #243244;

//   --color-primary: rgb(80, 96, 201);

//   --border-color: #334155;

//   --text-primary: #cbd5e1;
//   --text-secondary: #94a3b8;

//   --text-color: #e5e7eb;
//   --border-color: #334155;
// }
