.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);

  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 1px;
    img {
      height: 40px;
      display: block;
    }
    h6 {
      font-weight: 900;
      margin: 0;
      color: var(--color-primary);
    }
  }

  .navbar-links {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
    a {
      text-decoration: none;
      color: var(--text-primary);
      font-weight: 500;
      position: relative;
      &:hover {
        color: var(--color-primary);
      }
    }
    .active-link {
      font-weight: 700;
      color: #28a745;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -18px;
        height: 3px;
        width: 100%;
        background-color: #28a745;
      }
    }
  }

  .navbar-login {
    display: flex;
    align-items: center;
    gap: 18px;
    position: relative;
    // .login-link {
    //     cursor: pointer;
    //   display: flex;
    //   align-items: center;
    //   gap: 4px;
    //   padding: 6px 10px;
    //   border-radius: 6px;
    //   font-weight: 500;
    //   transition: color 0.3s;
    //   background-color: var(--color-primary);

    //   a {
    //     color: white;
    //     text-decoration: none;
    //   }
    // }
    .product-number {
      position: absolute;
      top: 2px;
      left: 55px;
      color: white;
      padding: 1px;
      border-radius: 100%;
      font-size: 12px;
      background-color: var(--color-primary);
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.navbar-content-responsive {
  display: none;
}

@media (max-width: 768px) {
  .navbar-content {
    display: none;
  }
  .navbar-content-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 100%;

    .navbar-logo {
      display: flex;
      align-items: center;
      gap: 1px;
      img {
        height: 40px;
        // width: auto;
        display: block;
      }
      h6 {
        font-weight: 900;
        margin: 0;
        color: var(--color-primary);
      }
    }
  }
}
