.product-card {
  background-color: var();
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .product-image {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    img {
      width: 250px;
      height: 250px;
    }
  }

  .product-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
  }

  .product-price {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
  }
  .product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 768px) {
    .product-image {
      height: 150px;
      img {
        width: 150px;
        height: 150px;
      }
    }
    .product-name {
      font-size: 16px;
    }
    .product-price {
      font-size: 16px;
    }
  }
}
